<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>s3 image</title>
  </head>
  <body>
    <div>
      <h1>sending mail</h1>
      <img src="https://medyaan.in.s3.amazonaws.com/medyaan_dev/1741246004_download (1).jpg" alt="Uploaded Image"> 
      {% comment %} <img src="medyaan.in.s3.amazonaws.com/media/1741243429_photography.jfif" alt="Uploaded Image">  {% endcomment %}

    </form>
    </div>
  </body>
</html>
